<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ez.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Layout.css")" rel="Stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25936615-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        VK.init({ apiId: 2416197, onlyWidgets: true });
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    { lang: 'uk' }
</script>
</head>
<body>
    <div class="head">&nbsp;</div>
    <div class="page" style="border: thin solid red; top: 0px; position: absolute; width: 95%;">
        <div style="color: White; text-align: left; width: 800px; margin-left: auto; margin-right: auto; border: thin solid green;">
            Hello World
        </div>
        <header>           
            <div id="title"> 
                <h1></h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <!-- nav>
                <ul id="menu">
                    <li>Html.ActionLink("Home", "Index", "Home")</li>
                    <li>Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav -->
            <nav>
                <ul>
                @*if (User.IsInRole("Administrators"))
                {*@
                    <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
                @*}*@
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/site.js")"></script>
</body>
</html>
