<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ez.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Layout.css")" rel="Stylesheet" type="text/css" />
    <!-- css3 slider -->
    <!-- link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" /-->
    <!-- link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" /-->
    <link href="@Url.Content("~/Content/slider.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?34"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25936615-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        VK.init({ apiId: 2416197, onlyWidgets: true });
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    { lang: 'uk' }
</script>
</head>
<body>
    <div class="head" style="border-bottom: 1px solid #ffae00;">&nbsp;</div>
    <div class="gradient_start">&nbsp;</div>
    <div class="gradient_finish"></div>
    <div class="page" style="margin-top: -710px;"> <!-- margin-top: -50px; -->
    <header>           
            <div id="title"> 
                <h1></h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <!-- nav>
                <ul id="menu">
                    <li>Html.ActionLink("Home", "Index", "Home")</li>
                    <li>Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav -->
            <nav>
                <ul>
                @*if (User.IsInRole("Administrators"))
                {*@
                    <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
                @*}*@
                </ul>
            </nav>
        </header>
        <h1 style="text-align: left; color: White;">
        	Witamy na stronie
        </h1>
        <div style="float: right; margin-top: -19px; text-align: left; width: 340px;">
            <img src="@Url.Content("~/Content/Images/basket.png")" alt="basket_image" style="float: left;"/>
            <div style="border-left: thin solid white; text-align: center; height: 61px; width: 280px; float: right; line-height: 4em;">            
                W koszyku sa
            </div>
        </div>
        <div style="clear: both; float: right; width: 80px; border-top: thin solid white; background-color: #f18103; color: White;">
        	zaplac
       	</div>
        <h1 style="clear: both; text-align: left;">
        	KosherWine
       	</h1>
        <div style="float: right; width: 340px;">
            @Html.TextBox("Search", "Wpisz szukana fraze", new { style="float: left; width: 256px; height: 30px; border: none;" })
            <div style="width: 80px; background-color: #f18103; color: white; height: 34px; float: right; line-height: 2.5em;">
                @Html.ActionLink("szukaj", "", null, new { style = "text-decoration: none; color: white;" })
            </div>
        </div>
        
        
        <section> <!-- id="main" -->
            @RenderBody()
        </section>
        <!-- footer></footer -->
    </div>
    <script type="text/javascript" src="@Url.Content("~/Scripts/site.js")"></script>
</body>
</html>
