@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    Категории
    @Html.ActionLink("Редактировать", "Index", "ManageCategories");
</div>
<div>
    Типы вина
    @Html.ActionLink("Редактировать", "Types", "Administration");
</div>
<div>
    Виды вина
    @Html.ActionLink("Редактировать", "Sorts", "Administration");
</div>
<div>
    Производители
    @Html.ActionLink("Редактировать", "Index", "Producers");
</div>
<div>
    Вино
    @Html.ActionLink("Редактировать", "Index", "Products");
</div>
<div>

</div>